body{
    margin: 0;
    text-align: center;
    background-color: #352d2d;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    color: #ffffff;
    
        


}
header{
        padding-top: 20px;
}

h1, h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Archivo Black', sans-serif;
}
p{
    background-color: black;
    font-size: 12px;
}

header img{
    width: 100%;
    
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
a:hover{
    color: white;
    background-color: black;
}
footer{
    color: white;
    background-color: black;
}
