body{
    margin: 0;
    text-align: center;
    background-color: #352d2d;
    line height: 30px;
    color: #ffffff;
    max-width: 800px;
    background-image: url("img/ava7patterns_pattern_1411.png");        
    background-repeat: repeat;
    background-position: center;
    margin: 0 auto;
}
header{
    padding-top: 20px;
}

h1, h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Archivo Black', sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

header img{
    img src: "https://github.com/dannihjalta/FabFiveSite/blob/master/img/Mysticism%20picture%20HQ.jpg?raw=true" alt: "BanBan">;
    border: solid white 5px;
    width: 800px;
}
main{
    max-width: 800px;
    margin: 0 auto;
    
}
div{
    
}
a:hover{
    color: white;
    background-color: black;
}
footer{
    color: white;
    background-color: black;
}
